* {
   margin: 0;
   box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: radial-gradient(#fff, #1a77a710);
    padding-block: 16px;
    min-height: 100vh;
}

main {
    border: 1px solid #000;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 16px;
}

a {
    color: #0077cc;
}

.paragraph-with-icon {
    text-underline-offset: 2px;
}

#cutcon-logo {
    height: 32px;
    vertical-align: middle;
    margin-block-start: -8px;
    margin-inline-end: 4px;
}

#clipper-logo {
    height: 24px;
    vertical-align: middle;
    margin-block-start: -4px;
}

#github-logo {
    height: 20px;
    vertical-align: middle;
    margin-block-start: -4px;
}

#media-container {
    margin-block-start: 4px;
    .media {
        width: 90vw;
        max-width: 400px;
        border: 1px solid gray;
        border-radius: 6px;
    }
}

/*
 * Hides the scrollbar when there is .zoomable-image.zoomed-image in the page.
 * Not perfect (a quick glitch of scrollbar) when zooming out using mouse wheel.
 * For current solution which downscales the image a little bit see the script file.
 */
/*
html:has(.zoomable-image.zoomed-image) {
    scrollbar-width: none;
}
*/

#zoom-backdrop {
    transition: all 200ms ease;
    &.zoomed-image {
        position: fixed;
        inset: 0 0 0 0;
        opacity: 0.88;
        background: #fff;
    }
}

.zoomable-image {
    cursor: zoom-in;
    transition: transform 300ms ease;
    &.zoomed-image {
        position: relative;
        cursor: zoom-out;
    }
}

@media (width < 450px) {
    main {
        border: none;
    }
}
